<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="css/<%=style%>">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="https://kit.fontawesome.com/c45f99093c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="/javascript/main.js"></script>
</head>
<body>

  <header class="header">
  
  <div class="header-logo"><a href="/">Anish BookShop</a></div>
  <form class="header-search" action="/search" method="POST">
    <input type="text" name="query" placeholder="Search">
    <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
  </form>
  <input type="checkbox" id="menu-toggle" class="menu-toggle">
  <label for="menu-toggle" class="menu-icon">&#9776;</label>
  <nav class="header-nav">
    <a href="/add-book">Add Product</a>
    <a href="#">Sell History</a>
    <a href="#">Admin</a>
  </nav>
  
</header>

      
  
      
      
