<%- include("partials/header",{style:"main.css"}) -%>

<h2>Sell History</h2>

<table class="history-container">
    <thead>
        <tr>
            <td>Book</td>
            <td>Quantity</td>
            <td>Sell Price</td>
            <td>Total Amount</td>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

<%- include("partials/footer") -%>