
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .book-container {
    position: relative;
    display: flex;
    width: 300px;
    margin: 5px;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 680px) {
    .book-container {
      width: 250px;
    }
  }
  .title-author {
    flex: 1;
  }

  .title {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    color: #333;
  }

  .author {
    font-style: italic;
    font-size: 14px;
    margin: 5px 0 0 0;
    color: #666;
  }

  .quantity {
    font-size: 12px;
    margin-top: 5px;
    color: #999;
  }

  .price {
    font-size: 24px;
    color: #333;
  }

  .book-image {
    width: 80px;
    height:auto;
    object-fit: cover;
    border-radius: 5px;
    border:1px solid #000;
  }

  .buttons {
    position: absolute;
    bottom: 5px;
    width: 85%;
    display: flex;
  }

  .button {
    flex: 1;
    padding: 10px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    transition: background-color 0.3s;
  }
  .sold-btn{
      background-color: #42cb46;
  }
  .sold-btn:hover{
      background-color: #35a038;
  }
  .return-btn{
      background-color: rgb(206, 24, 24);
  }
  .return-btn:hover{
      background-color: rgb(159, 27, 27);
  }


   .form-container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .form-container h2 {
      text-align: center;
      color: #333;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
      color: #666;
    }

    .form-group input[type="file"],
    .form-group input[type="text"],
    .form-group input[type="number"],
    .form-group select,
    .form-group textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 16px;
      color: #333;
      transition: border-color 0.3s;
    }

    .form-group input[type="file"]:focus,
    .form-group input[type="text"]:focus,
    .form-group input[type="number"]:focus,
    .form-group select:focus,
    .form-group textarea:focus {
      border-color: #4CAF50;
    }

    .form-group input[type="file"],
    .form-group input[type="text"],
    .form-group select {
      display: inline-block;
      width: calc(100% - 10px);
      margin-right: 10px;
    }

    .form-group input[type="number"]{
        width:50%
    }
    .form-group textarea {
      display: inline-block;
      width: 100%;
      resize: vertical;
    }