body{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
  margin: 0;
}
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .book-container {
    position: relative;
    display: flex;
    width: 300px;
    margin: 5px;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }

  
  @media (max-width: 680px) {
    .book-container {
      width: 250px;
    }
  }
  .title-author {
    flex: 1;
  }

  .title {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    color: #333;
  }

  .author {
    font-style: italic;
    font-size: 14px;
    margin: 5px 0 0 0;
    color: #666;
  }

  .quantity {
    font-size: 12px;
    margin-top: 5px;
    color: #999;
  }

  .price {
    font-size: 24px;
    color: #333;
  }

  .book-image {
    width: 80px;
    height:auto;
    object-fit: cover;
    border-radius: 5px;
    border:1px solid #000;
  }

  .buttons {
    position: absolute;
    bottom: 5px;
    width: 85%;
    display: flex;
  }

  .button {
    flex: 1;
    padding: 10px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    transition: background-color 0.3s;
  }
  .sold-btn{
      background-color: #42cb46;
  }
  .sold-btn:hover{
      background-color: #35a038;
  }
  .return-btn{
      background-color: rgb(206, 24, 24);
  }
  .return-btn:hover{
      background-color: rgb(159, 27, 27);
  }
  .edit-link {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size:15px;
    color: #b6b6b6;
    text-decoration: none;
    transition: color 0.3s;
  }
  .edit-link:hover {
    color: #555;
  }
